<mat-tab-group
  (selectedTabChange)="tabChanged($event)"
  headerPosition="below"
  [selectedIndex]="2">
  <mat-tab label="todayTodo">
    <ng-template mat-tab-label>
        <!-- <div class="title">할일</div> -->
        <i class="far fa-calendar"></i>
      </ng-template>
    <todo-page storage="todayTodoList"></todo-page>
  </mat-tab>
  <mat-tab label="todo">
    <ng-template mat-tab-label>
        <i class="far fa-calendar-check"></i>
      </ng-template>
    <todo-page storage="todoList"></todo-page>
  </mat-tab>
  <mat-tab label="calendar">
    <ng-template mat-tab-label>
      <i class="far fa-calendar-alt"></i>
    </ng-template>
    <day-page></day-page>
  </mat-tab>
  <mat-tab label="bucketlist">
    <ng-template mat-tab-label>
        <i class="fas fa-globe-americas"></i>
      </ng-template>
    <todo-page storage="bucketList"></todo-page>
  </mat-tab>
  <mat-tab label="commit">
    <ng-template mat-tab-label>
        <i class="fab fa-git"></i>
      </ng-template>
    <todo-page storage="commitList"></todo-page>
  </mat-tab>
</mat-tab-group>
