.common-navbar-box {
  height: 7%;
  background-color: #f53d3d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .common-navbar-title {
    text-align: center;
    position: relative;
    font-size: 1em;
  }
}
