.holiday-box {
  height: 60%;
  width: 100%;
  color: #777;
  margin-top: 24px;

  .holiday {
    width: 100%;
    font-size: .8em;
    padding: .1em;
    text-align: center;
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
