<h1 mat-dialog-title>{{day.date}}</h1>
<div mat-dialog-content>
  <p>What's your schedule?</p>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="schedule.note"
      cdkFocusInitial
      >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="schedule.detail"
      (keyup.enter)="ok(schedule)"
      placeholder="Detail">
  </mat-form-field>
  <mat-radio-group class="check-colors">
    <mat-radio-button
      *ngFor="let color of colors"
      value="{{color.bgColor}}"
      (click)="changeColor(color)">
      <div
        class="check-color-box"
        [ngStyle]="{'background-color': color.bgColor}">
      </div>
    </mat-radio-button>
  </mat-radio-group>
  <mat-checkbox
    [(ngModel)]="schedule.isRepeat"
    color="warn"
    name="isRepeat"
    class="check-repeat">
    Do you want repeat?
  </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="ok(schedule)">Ok</button>
  <button mat-button (click)="cancel(schedule)">cancel</button>
</div>
<div class="event-box">
  <div *ngFor="let event of events; let i=index">
    <div class="event" [ngStyle]="{'background-color': event.color.bgColor}">
      <span [ngStyle]="{'color': event.color.textColor}">{{event.note}}</span>
      <span *ngIf="!event.isHoliday" (click)="deleteEvent(i)">x</span>
    </div>
  </div>
</div>
