<h1 mat-dialog-title>{{day.date}}</h1>
<div mat-dialog-content>
  <p>What's your schedule?</p>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="schedule"
      (keyup.enter)="ok(schedule)"
      cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="schedule">Ok</button>
  <button mat-button (click)="cancel(schedule)">cancel</button>
</div>
<div class="holiday-box">
  <div *ngFor="let hol of day.holidays; let i=index">
    <div class="holiday" [ngStyle]="{'background-color': hol.color}">
      <span>{{hol.name}}</span>
      <span (click)="deleteHoliday(i)">x</span>
    </div>
  </div>
</div>
