.event-box {
  height: 60%;
  width: 100%;
  color: #777;
  margin-top: 24px;

  .event {
    font-size: .8em;
    padding: .4em 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}
