<h1 mat-dialog-title>{{day.date}}</h1>
<div mat-dialog-content>
  <p>What's your schedule?</p>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="event.note"
      cdkFocusInitial
      >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="event.detail"
      (keyup.enter)="ok(event)"
      placeholder="Detail">
  </mat-form-field>
  <mat-checkbox
    [(ngModel)]="event.isRepeat"
    color="warn"
    name="isRepeat">
    Do you want repeat?
  </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="ok(event)">Ok</button>
  <button mat-button (click)="cancel(event)">cancel</button>
</div>
<div class="event-box">
  <div *ngFor="let event of events; let i=index">
    <div class="event" [ngStyle]="{'background-color': event.color}">
      <span>{{event.note}}</span>
      <span *ngIf="!event.isHoliday" (click)="deleteEvent(i)">x</span>
    </div>
  </div>
</div>
