.check-colors {
  display: flex;
  justify-content: space-between;
  padding-right: 1.3em;

  .check-color-box {
    width: .8em;
    height: .8em;
    border: 1px solid #777;
  }
}

.event-box {
  height: 60%;
  width: 100%;
  color: #777;
  margin-top: 24px;

  .event {
    font-size: .8em;
    padding: .4em 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}
