.todo-wrap {
  height: 100%;

  .insert-box {
    display: flex;
    height: 3.5em;
    padding: .5em;

    .insert-text {
      width: 83%;
      border: 1px solid #eee;
      padding: 0 1em;
      font-size: .9em;
    }

    .insert-btn {
      width: 14%;
      min-width: 14%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #eee;
      margin-left: 1%;
      line-height: 0%;

      .icon {
        color: #e1786e;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
      }
    }
  }

  .todo-box {
    min-height: 3em;
    padding: .3em .5em;
    margin: .5em;
    margin-top: 0;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    word-break: break-all;

    .todo-star {
      height: 100%;
      width: 4%;
    }

    .todo-check {
      width: 7%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .todo-name {
      width: 82%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 0.2em;
      font-size: .9em;
    }

    .todo-delete-btn {
      width: 7%;
      text-align: center;

      .icon {
        font-size: .8em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #848484;
      }
    }
  }
}
