.todo-wrap {
  height: 100%;

  .insert-text-box {
    display: flex;
    height: 5%;
    padding: .5em;

    .insert-text {
      width: 90%;
      border: 1px solid #eee;
    }

    .insert-btn {
      width: 10%;
    }
  }

  .todo-box {
    height: 2em;
    padding: .3em .5em;
    margin: .5em;
    margin-top: 0;
    border: 1px solid #eee;
    display: flex;
    align-items: center;

    .todo-star {
      height: 100%;
      width: 1.5%;
    }

    .todo-star-check {
      background-color: #f0b7cb;
    }

    .todo-check {
      width: 5%;
    }

    .todo-name {
      width: 80%;
    }

    .todo-delete-btn {
      width: 10%;
    }
  }
}
