<div class="todo-wrap">
  <div class="insert-text-box">
    <input type="text" class="insert-text" [(ngModel)]="insertText" (keyup.enter)="insertTodo()">
    <input type="button" class="insert-btn" value="ok" (click)="insertTodo()">
  </div>
  <div *ngFor="let todo of todos; index as i;" class="todo-box">
    <input class="form-control" [(ngModel)]="todo.isDone" type="checkbox">
    <span>{{todo.name}}</span>
    <input class="todo-delete-btn" type="button" value="x" (click)="deleteTodo(i)">
  </div>
</div>
