<div class="todo-wrap">
  <div class="insert-box">
    <input type="text" class="insert-text" [(ngModel)]="insertText" (keyup.enter)="insertTodo()">
    <button mat-button class="insert-btn" (click)="insertTodo()" type="submit">
      <mat-icon class="icon">subdirectory_arrow_left</mat-icon>
    </button>
  </div>
  <div
    *ngFor="let todo of todos; index as i;"
    class="todo-box">
    <div
      class="todo-star"
      *ngIf="showStar"
      (click)="checkStar(todo)">
      <i *ngIf="todo.isStar" class="fas fa-lightbulb"></i>
      <i *ngIf="!todo.isStar" class="far fa-lightbulb"></i>
    </div>
    <div
      class="todo-check"
      *ngIf="showCheckbox">
      <mat-checkbox
        [(ngModel)]="todo.isDone"
        value=""
        color="warn"
        name="isDoneCheckbox"
        (change)="checkDone()">
      </mat-checkbox>
    </div>
    <div class="todo-name">
      <span *ngIf="!todo.editable" (click)="editable(todo)">{{todo.name}}</span>
      <input
        *ngIf="todo.editable"
        [(ngModel)]="todo.name"
        (keyup.enter)="updateTodo(todo)"
        (blur)="updateTodo(todo)">
    </div>
    <div class="todo-delete-btn" (click)="deleteTodo(i)">
        <mat-icon class="icon">clear</mat-icon>
    </div>
  </div>
</div>
