<div class="todo-wrap">
  <div class="insert-box">
    <input type="text" class="insert-text" [(ngModel)]="insertText" (keyup.enter)="insertTodo()">
    <button mat-button class="insert-btn" (click)="insertTodo()" type="submit">
      <mat-icon class="icon">subdirectory_arrow_left</mat-icon>
    </button>
  </div>
  <div
    *ngFor="let todo of todos; index as i;"
    class="todo-box">
    <div
      class="todo-star"
      [ngClass]="{'todo-star-check': todo.isStar}"
      (click)="checkStar(todo)"></div>
    <div class="todo-check">
      <mat-checkbox
        [(ngModel)]="todo.isDone"
        value=""
        color="warn"
        name="isDoneCheckbox">
      </mat-checkbox>
    </div>
    <div class="todo-name">
      <span>{{todo.name}}</span>
    </div>
    <div class="todo-delete-btn" (click)="deleteTodo(i)">
        <mat-icon class="icon">clear</mat-icon>
    </div>
  </div>
</div>
