/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
  margin: 0;
}

mat-tab-group {
  height: 93%;

  /* 탭 해더 */
  .mat-tab-header {
    width: 100%;

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
      // min-width: 25px;
      color: #e1786e;
    }

    /* Styles for the ink bar */
    .mat-ink-bar {
      background-color: #e1786e !important;
    }
  }

  /* 탭 바디 */
  .mat-tab-body-wrapper {
    height: 100%;

    .mat-tab-body-content {
      height: 100%;
    }
  }
}
