/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #555;
  font-weight: 300;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

html, body, head, div {
  box-sizing: border-box;
}

/* 체크박스 크기 */
.mat-checkbox
.mat-checkbox-layout
.mat-checkbox-inner-container {
  height: 1em;
  width: 1em;

  .mat-checkbox-frame {
    border-width: 1px;
  }
}

.check-repeat.mat-checkbox
.mat-checkbox-layout {
  padding: 1em 0;
}

mat-tab-group {
  height: 100%;

  /* 탭 해더 */
  .mat-tab-header {
    width: 100%;
    min-width: 25px;

    .icon {
      font-size: 1.5em;
    }

    .title {
      font-size: 1em;
      font-weight: 300;
    }

    .mat-tab-label {
      height: 4em;
    }

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
      color: #e1786e;
    }

    /* Styles for the ink bar */
    .mat-ink-bar {
      background-color: #e1786e !important;
    }
  }

  /* 탭 바디 */
  .mat-tab-body-wrapper {
    height: 100%;

    .mat-tab-body-content {
      height: 100%;
    }
  }
}
