%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-page-wrap {
  height: 100%;

  .day-page-header {
    height: 8%;
    padding: 0 .5em;
    background-color: pink;
    display: flex;

    .day-header-pre {
      @extend %flex-center;
      width: 20%;
      height: 100%;
    }

    .day-header-curr {
      @extend %flex-center;
      width: 80%;
      height: 100%;
    }

    .day-header-next {
      @extend %flex-center;
      width: 20%;
      height: 100%;
    }
  }

  .day-page-weeks {
    @extend %flex-center;
    height: 7%;
    border: 1px solid #eee;

    .day-page-week {
      @extend %flex-center;
      font-size: .7em;
      height: 100%;
      width: calc(100% / 7);
    }

    .day-page-weekend {
      color: #bababa;
    }
  }
}
