%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-page-wrap {
  height: 100%;

  .day-page-header {
    height: 8%;
    padding: 0 .5em;
    background-color: pink;
    display: flex;

    .day-header-pre {
      @extend %flex-center;
      width: 20%;
      height: 100%;
    }

    .day-header-curr {
      @extend %flex-center;
      width: 80%;
      height: 100%;
    }

    .day-header-next {
      @extend %flex-center;
      width: 20%;
      height: 100%;
    }
  }

  .day-page-weeks {
    @extend %flex-center;
    height: 7%;
    border-bottom: 1px solid #eee;

    .day-page-week {
      @extend %flex-center;
      font-size: .7em;
      height: 100%;
      width: calc(100% / 7);
    }
  }

  .day-page-weekend {
    color: #bababa;
  }

  .day-page-today .day .day-num {
    background: #e1786e;
    border-radius: 50%;
    color: #fff;
  }

  .day-page-noday {
    color: #e2e1e1;
  }

  .day-page-days {
    height: 84%;

    .day-page-day {
      @extend %flex-center;
      height: 12%;
      width: 14.28%;
      float: left;
      display: flex;
      flex-direction: column;
      padding: 0 .5px;
      margin-top: .4em;
      font-size: .8em;

      .day {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;

        .day-num {
          width: 1.5em;
          height: 1.5em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .holiday-box {
        height: 60%;
        width: 100%;
        color: #777;

        .holiday {
          width: 100%;
          font-size: .5em;
          padding: .1em;
          text-align: center;
          margin-top: 1px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .more {
          width: 100%;
          font-size: .5em;
        }
      }
    }

    .day-page-body {
      float: left;
      width: 100%;
      padding: 0 .5em;
      font-size: .8em;

      .body-num {
        padding-bottom: .5em;
        display: flex;
        justify-content: space-between;
      }

      .body-holiday {
        font-size: .8em;
        margin-bottom: .2em;
        padding: 0.2em;
      }
    }
  }
}
