<div class="day-page-wrap">
  <div class="day-page-header">
    <div class="day-header-pre" (click)="geMonth(-1)">
      <i class="fas fa-angle-left"></i>
    </div>
    <div
      class="day-header-curr"
      (click)="geMonth()">
      {{currentDate.format('MMMM YYYY')}}
    </div>
    <div class="day-header-next" (click)="geMonth(1)">
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
  <div class="day-page-weeks">
    <div
      *ngFor="let week of weekdays"
      [ngClass]="{'day-page-weekend': week.isWeekend}"
      class="day-page-week">
      {{week.name}}
    </div>
  </div>
  <div class="day-page-days">
    <div
      *ngFor="let day of days"
      [ngClass]="{'day-page-weekend': day.isWeekend,
        'day-page-noday': day.isNotCurrentMonthDays,
        'day-page-today': day.isToday,
        'day-page-seleted': day.isSelected}"
      class="day-page-day"
      (click)="clickDay(day)">
      <div class="day">
        <div class="day-num">{{day.num}}</div>
      </div>
      <div class="event-box">
        <div *ngFor="let event of day.holidays.concat(day.schedules); let i=index">
          <div class="event" [ngStyle]="{'background-color': event.color}" *ngIf="i<2">{{event.note}}</div>
          <div class="more" *ngIf="i==2">+{{day.holidays.concat(day.schedules).length - 2}}</div>
        </div>
      </div>
    </div>
    <div class="day-page-body">
      <div class="body-num">
        <span>{{selectDay.num}} {{selectDay.dDay}}</span>
        <span *ngIf="selectDay.num">{{this.currentDate.format('MMMM YYYY')}}</span>
      </div>
      <div
        *ngFor="let event of selectDay.holidays.concat(selectDay.schedules)"
        class="body-event"
        [ngStyle]="{'background-color': event.color}">{{event.note}}
          <span *ngIf="event.detail"> - {{event.detail}}</span>
      </div>
    </div>
  </div>
</div>
