%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-page-wrap {
  height: 100%;

  .day-page-header {
    height: 8%;
    padding: 0 .5em;
    background-color: pink;
    display: flex;

    .day-header-pre {
      @extend %flex-center;
      width: 20%;
      height: 100%;
    }

    .day-header-curr {
      @extend %flex-center;
      width: 80%;
      height: 100%;
    }

    .day-header-next {
      @extend %flex-center;
      width: 20%;
      height: 100%;
    }
  }

  .day-page-weeks {
    @extend %flex-center;
    height: 7%;
    border-bottom: 1px solid #eee;

    .day-page-week {
      @extend %flex-center;
      font-size: .7em;
      height: 100%;
      width: calc(100% / 7);
    }
  }

  .day-page-weekend {
    color: #bababa;
  }

  .day-page-today .day .day-num {
    background: #e1786e;
    border-radius: 2em;
    color: #fff;
    width: 1.4em;
    height: 1.2em;
    margin: 0 auto;
  }

  .day-page-noday {
    color: #e2e1e1;
  }

  .day-page-days {
    height: 84%;

    .day-page-day {
      @extend %flex-center;
      height: 10%;
      width: 14.28%;
      float: left;
      display: flex;
      flex-direction: column;
      padding: .5em .2em;

      .day {
        width: 100%;
        text-align: center;
      }

      .holiday-box {
        height: 60%;
        width: 100%;

        .holiday {
          width: 100%;
          font-size: .5em;
          padding: .2em;
          text-align: center;
        }
      }
    }

    .day-page-body {
      height: 41%;
      float: left;
      width: 100%;
      padding: .5em;
    }
  }
}
