<div class="day-page-wrap">
  <div class="day-page-header">
    <div class="day-header-pre" (click)="goPreMonth()">
      <i class="fas fa-angle-left"></i>
    </div>
    <div
      class="day-header-curr"
      (click)="goCurrentMonth()">
      {{currentDate.format('MMMM YYYY')}}
    </div>
    <div class="day-header-next" (click)="goNextMonth()">
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
  <div class="day-page-weeks">
    <div
      *ngFor="let week of weekdays"
      [ngClass]="{'day-page-weekend': week.isWeekend}"
      class="day-page-week">
      {{week.name}}
    </div>
  </div>
  <div class="day-page-days">
    <div
      *ngFor="let day of days"
      [ngClass]="{'day-page-weekend': day.isWeekend,
        'day-page-noday': day.isNotCurrentMonthDays,
        'day-page-today': day.isToday}"
      class="day-page-day"
      (click)="detailDay(day)">
      <div class="day">
        <div class="day-num">{{day.date.format('D')}}</div>
      </div>
      <div class="holiday-box">
        <div *ngFor="let hol of day.events; let i=index">
          <div class="holiday" [ngStyle]="{'background-color': hol.color}" *ngIf="i<2">{{hol.name}}</div>
          <div class="more" *ngIf="i==2">+{{day.holidays.length - 2}}</div>
        </div>
      </div>
    </div>
    <div class="day-page-body">
      <div class="body-num">
        <span>{{selectDay.day}} {{dDay}}</span>
        <span>{{selectDay.yearMonth}}</span>
      </div>
      <div *ngFor="let hol of selectDay.holidays" class="body-holiday" [ngStyle]="{'background-color': hol.color}">{{hol.name}}</div>
    </div>
  </div>
</div>
